@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

:root {
  font-size: 15px;
  --black: #000000;
  --white: #ffffff;
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alata", sans-serif;
  color: var(--white);
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem 10% 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 192px;
  height: auto;
}

.btn-menu {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-menu img {
  width: 25px;
  height: auto;
}

.header-nav {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: var(--black);
  padding: 2rem 1rem;
  transition: opacity 400ms ease-in-out;
}

.active.header-nav {
  opacity: 1;
  pointer-events: all;
}

.header-nav-top {
  display: flex;
  justify-content: space-between;
}

.btn-close-menu {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-close-menu img {
  width: 25px;
  height: auto;
}

.header-nav ul.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-nav li.nav-list-item {
  margin-bottom: 2.5rem;
}

.header-nav li.nav-list-item a {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
}

/* Section Hero */
section.hero {
  background-image: url("../assets/images/mobile/image-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box {
  border: var(--white) solid 1px;
  padding: 20px;
  max-width: 600px;
}

h1.hero-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.5rem;
}

h1.hero-title span {
  display: block;
}

/* Section Interactive */
section.interactive {
  padding: 5rem 0;
}

.container-interactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.interactive-image {
  width: 100%;
  margin-top: 1rem;
}

.interactive-text {
  width: 82%;
}

.interactive-text-title {
  color: var(--black);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.interactive-text-description {
  color: var(--dark-gray);
  margin-top: 1rem;
  text-align: center;
}

/* Section Creations */
section.creations {
  padding: 0 0 5rem;
  position: relative;
}

h2.creations-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: var(--black);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

ul.creations-list {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

li.creations-list-item {
  width: 100%;
}

.creations-card {
  position: relative;
  height: 120px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-shadow: inset 160px 0px 60px 0px rgb(0 0 0 / 57%);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

.creations-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  z-index: 2;
  transition: all 400ms ease-in;
}

.creations-card:hover::after {
  opacity: 0.5;
}

.creations-list .creations-list-item:nth-child(1) .creations-card {
  background-image: url("../assets/images/mobile/image-deep-earth.jpg");
}

.creations-list .creations-list-item:nth-child(2) .creations-card {
  background-image: url("../assets/images/mobile/image-night-arcade.jpg");
}

.creations-list .creations-list-item:nth-child(3) .creations-card {
  background-image: url("../assets/images/mobile/image-soccer-team.jpg");
}

.creations-list .creations-list-item:nth-child(4) .creations-card {
  background-image: url("../assets/images/mobile/image-grid.jpg");
}

.creations-list .creations-list-item:nth-child(5) .creations-card {
  background-image: url("../assets/images/mobile/image-from-above.jpg");
}

.creations-list .creations-list-item:nth-child(6) .creations-card {
  background-image: url("../assets/images/mobile/image-pocket-borealis.jpg");
}

.creations-list .creations-list-item:nth-child(7) .creations-card {
  background-image: url("../assets/images/mobile/image-curiosity.jpg");
}

.creations-list .creations-list-item:nth-child(8) .creations-card {
  background-image: url("../assets/images/mobile/image-fisheye.jpg");
}

li.creations-list-item a {
  width: 100%;
  text-decoration: none;
}

li.creations-list-item a .creations-card h3 {
  position: relative;
  color: var(--white);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  width: 50%;
  transition: color 400ms ease-in;
  z-index: 3;
}

li.creations-list-item a .creations-card:hover h3 {
  color: var(--black);
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
}

.creations-btn-see-all {
  cursor: pointer;
  background-color: transparent;
  margin: 0 auto;
  display: block;
  padding: 0.5rem 40px;
  border: var(--black) solid 1px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  transition: background 400ms ease-in, color 400ms ease-in;
}

.creations-btn-see-all:hover {
  background-color: var(--black);
  color: white;
}

/* Footer */
.footer {
  background-color: var(--black);
  padding: 4rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer ul.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

li.nav-list-item a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

small.copyright {
  color: var(--dark-gray);
  font-size: 0.8rem;
}

/* FrontEndMentor */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  section.hero {
    background-image: url("../assets/images/desktop/image-hero.jpg");
    min-height: 80vh;
  }

  h1.hero-title {
    font-size: 4.5rem;
  }

  h1.hero-title span {
    display: inline-block;
  }

  footer.footer {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .footer-top {
    align-items: flex-start;
  }

  .footer-top,
  .footer-bottom {
    gap: 2rem;
  }

  .footer ul.nav-list {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .btn-menu {
    display: none;
  }

  .header-nav {
    display: block;
    opacity: 1;
    pointer-events: all;
    height: auto;
    padding: 0;
    position: initial;
    background-color: transparent;
  }

  .header-nav-top {
    display: none;
  }

  .header ul.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .header-nav li.nav-list-item {
    margin-bottom: 0;
  }

  .header-nav li.nav-list-item a {
    text-transform: capitalize;
    font-family: "Alata";
    font-weight: 400;
    font-size: 1.3rem;
  }

  section.interactive {
    padding: 5rem 0;
    margin: 3rem 0 4rem;
  }

  .container.container-interactive {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .interactive-image {
    width: 60%;
    margin-top: 1rem;
  }

  .interactive-text {
    background: var(--white);
    position: absolute;
    right: -2%;
    bottom: -5%;
    padding: 2rem 10%;
    height: 350px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .interactive-text-title {
    text-align: left;
    font-size: 2rem;
  }

  .interactive-text-description {
    text-align: left;
    font-size: 1.2rem;
  }

  h2.creations-title {
    text-align: start;
  }

  button.creations-btn-see-all {
    position: absolute;
    top: 0;
    right: 10%;
  }

  ul.creations-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }

  li.creations-list-item {
    width: 23%;
  }

  .creations-card {
    box-shadow: inset 0px -180px 120px -80px rgb(0 0 0 / 75%);
    height: 460px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .creations-list .creations-list-item:nth-child(1) .creations-card {
    background-image: url("../assets/images/desktop/image-deep-earth.jpg");
  }

  .creations-list .creations-list-item:nth-child(2) .creations-card {
    background-image: url("../assets/images/desktop/image-night-arcade.jpg");
  }

  .creations-list .creations-list-item:nth-child(3) .creations-card {
    background-image: url("../assets/images/desktop/image-soccer-team.jpg");
  }

  .creations-list .creations-list-item:nth-child(4) .creations-card {
    background-image: url("../assets/images/desktop/image-grid.jpg");
  }

  .creations-list .creations-list-item:nth-child(5) .creations-card {
    background-image: url("../assets/images/desktop/image-from-above.jpg");
  }

  .creations-list .creations-list-item:nth-child(6) .creations-card {
    background-image: url("../assets/images/desktop/image-pocket-borealis.jpg");
  }

  .creations-list .creations-list-item:nth-child(7) .creations-card {
    background-image: url("../assets/images/desktop/image-curiosity.jpg");
  }

  .creations-list .creations-list-item:nth-child(8) .creations-card {
    background-image: url("../assets/images/desktop/image-fisheye.jpg");
  }
}

@media (min-width: 1170px) {
  .interactive-text-title {
    font-size: 3rem;
  }
}
